{% load link_holders %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item{% if request.path == '/'%} active{% endif %}">
                                <a class="nav-link mr-lg-4 mr-xl-5" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item{% if 'details' in request.path %} active{% endif %}">
                                <a class="nav-link mr-lg-4 mr-xl-5" href="{% link_holder 'ABOUT_US' %}">{% title_holder 'ABOUT_US' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-lg-4 mr-xl-5" href="{% url 'index' %}#services_h1">Услуги</a>
                            </li>
                            <li class="nav-item{% if request.path == '/contacts/' %} active{% endif %}">
                                <a class="nav-link mr-lg-4 mr-xl-5" href="{% url 'contacts' %}">Контакты</a>
                            </li>
                        </ul>
                        <div class="d-inline-block">
                            <button class="btn btn-lg btn-outline-yellow ml-auto" type="button" onclick="window.open('https://ac.naks.ru/')">Авторизация в ЭДО НАКС</button>
                        </div>
                    </div>