{% load link_holders %}{% load static %}
<header class="header-home">
    <div class="wrap-header-main">
        <div class="top-header-line text-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 d-none d-md-block">
                        <form action="{% url 'search_post' %}" method="post">
                            <div class="input-group">
                                {% csrf_token %}
                                {% comment %} <input type="text" class="form-control border-0" aria-describedby="button-search"> {% endcomment %}
                                {{ post_search_form.text }}
                                <div class="input-group-append">
                                    <button class="btn border-0 btn-head-search" type="submit" id="button-search" value="search"><img src="{% static '/img/acgh-search-icon.png' %}" alt=""></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm text-center no-gutters">
                        <div class="head-contact-left">
                            <img src="{% static '/img/acgh-mail-icon.png' %}" class="mr-1" alt="icon">
                                <a href="mailto:{{ profile.org_email }}" class="text-white">{{ profile.org_email }}</a>
                            {% if profile.org_email_secondary %}
                                <br>
                                <img src="{% static '/img/acgh-mail-icon.png' %}" class="mr-1" alt="icon">
                                <a href="mailto:{{ profile.org_email_secondary }}" class="text-white">{{ profile.org_email_secondary }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm text-center no-gutters">
                        <div class="head-contact-right">
                            <img src="{% static '/img/acgh-phone-icon.png' %}" class="mr-1" alt="icon">
                            <a href="tel:{{ profile.org_main_phone }}" class="text-yellow">{{ profile.org_main_phone }}</a>
                            <span class="d-inline-block d-md-none d-xl-inline-block text-white ml-2">г.&nbsp;Москва <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="{{ profile.org_address }}"></i></span>
                        </div>
                    </div>
                    <div class="col-xl-2 d-none d-xl-block">
                        <button class="btn btn-feedback float-right" type="button" id="button-feedback" data-toggle="modal" data-target="#feedbackModal">Обратная связь</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand img-fluid" href="{% url 'index' %}"><img src="{% static '/img/acgh-logo.png' %}" alt="Логотип АЦГХ"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    {% include 'mainapp/includes/acgh-menu.html' %}
                </nav>
            </div>
        </div>
    </div>
    <div class="header-slider py-5">
        <div class="container">
            <div id="hederSliderHome" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                {% if adverts %}
                    {% for adv in adverts %}
                        {% include 'mainapp/includes/adverts.html' %}
                    {% endfor %}
                {% else %}
                    <div class="carousel-item ml-3 ml-sm-4 ml-xl-5">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-xl-5">
                                <h1>Аттестационный<br>центр ООО “АЦГХ”</h1>
                                <p class="news-content">ООО «АЦГХ» является членом Саморегулируемой организации Ассоциация «НАКС»</p>
                                <div class="mb-3">
                                    <a href="#" class="text-yellow mr-2">naks.ru</a>
                                    <a href="#" class="text-yellow">spks.naks.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ml-3 ml-sm-4 ml-xl-5">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-xl-5">
                                <h1>Аттестационный<br>центр ООО “АЦГХ”</h1>
                                <p class="news-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias corrupti blanditiis, repudiandae amet odio quam quibusdam laudantium quos eaque voluptatem, minus exercitationem eligendi quasi iste incidunt hic dolor est, corporis, obcaecati aperiam expedita doloremque eum enim ex. Error, impedit dolorum!</p>
                                <div class="mb-3">
                                    <a href="#" class="text-yellow mr-2">Подробнее<img src="/static_root/img/acgh-arrow-details.png" class="ml-2" alt="arrow-icon"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="carousel-control text-center mx-auto">
                    <button id="btn-order-online" class="btn-yellow d-sm-block mb-5 mx-sm-auto">Подать заявку онлайн</button>
                    <div>
                        <a href="#hederSliderHome" class="control-prev" align-items-center role="button" data-slide="prev">
                            <img src="{% static '/img/acgh-arrow-left-icon.png' %}" alt="arrow-icon">
                        </a>&nbsp;
                        <div class="d-inline-block mx-3 mx-sm-5">
                            <span id="current_advert" class="text-yellow" style="font-size: 35px;"></span>
                            <span class="text-white" style="font-size: 20px;">0{{ adverts|length }}</span>
                        </div>&nbsp;
                        <a href="#hederSliderHome" class="control-next" role="button" data-slide="next">
                            <img src="{% static '/img/acgh-arrow-right-icon.png' %}" alt="arrow-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
