{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="acgh-contacts py-5">
    <div class="container">
        <h1 class="my-4">Контакты</h1>
        <div class="actyvity p-3 p-sm-4 p-xl-5 mb-5">
            <h3 class="mb-4">{{ profile.org_work_time }}</h3>
            <hr>
            <h3 class="mb-3">Адрес:</h3>
            <ul class="pl-3 mb-0">
                <li class="text-yellow"><span class="text-secondary mr-2">Фактический адрес:</span>
                    <span class="activity-text-bold">{{ profile.org_address }}</span></li>
                <li class="text-yellow"><span class="text-secondary mr-2">Юридический адрес:</span>
                    <span class="activity-text-bold">{{ profile.org_ur_address }}</span></li>
            </ul>
            <hr>
            <h3 class="mb-3">Телефон:</h3>
            <ul class="pl-3 mb-0">
                <li class="text-yellow"><span class="activity-text-bold">{{ profile.org_main_phone }}</span></li>
                <li class="text-yellow"><span class="activity-text-bold">{{ profile.org_secondary_phone }}</span></li>
            </ul>
            <hr>
            <h3 class="mb-3">E-mail:</h3>
            <ul class="pl-3 mb-0">
                <li class="text-yellow"><a href="mailto:{{ profile.org_email }}" class="activity-text-bold">
                {{ profile.org_email }}</a></li>
            </ul>
            {% if profile.org_email_secondary %}
                <ul class="pl-3 mb-0">
                    <li class="text-yellow"><a href="mailto:{{ profile.org_email_secondary }}" class="activity-text-bold">
                    {{ profile.org_email_secondary }}</a></li>
                </ul>
            {% endif %}
            {% if profile.org_contacts_file %}
                <hr>
                <h3 class="mb-3">Все контакты сотрудников центра:</h3>
                <ul class="pl-3 mb-0">
                    <li class="text-yellow"><a href="{{ profile.org_contacts_file.url }}" class="activity-text-bold">Скачать</a></li>
                </ul>
                
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Схема прохода от м. Бауманская</h3>
                <iframe src="https://yandex.ru/map-widget/v1/-/CKU~fJO-" width="100%" height="500" frameborder="1" allowfullscreen="true" scroll="false"></iframe>
            </div>
            <div class="col-md-6">
                <h3>Схема прохода от м. Электрозаводская</h3>
                <iframe src="https://yandex.ru/map-widget/v1/-/CKa6VBne" width="100%" height="500" frameborder="1" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
