{% load link_holders %}{% load static %}
<div class="services py-5">
    <div class="container">
        <h1 class="my-4" id="services_h1">Наши услуги</h1>
        <nav class="nav nav-pills flex-column flex-sm-row mb-5" id="pills-tab" role="tablist">
            {% for cat in categories %}
                <a class="flex-sm-fill text-sm-center nav-link{% if forloop.counter0 == 0 %} active{% endif %}" id="pills-{{ cat.pseudo }}-tab" data-toggle="pill" href="#pills-{{ cat.pseudo }}" role="tab" aria-controls="pills-{{ cat.pseudo }}" aria-selected="{% if forloop.counter0 == 0 %}true{% else %}false{% endif %}">{{ cat.name }}</a>
            {% endfor %}
            {% comment %} <a class="flex-sm-fill text-sm-center nav-link" id="pills-qual-tab" data-toggle="pill" href="#pills-qual" role="tab" aria-controls="pills-qual" aria-selected="false">Оценка квалификации</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-cert-tab" data-toggle="pill" href="#pills-cert" role="tab" aria-controls="pills-cert" aria-selected="false">Услуги сертификации</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="pills-control-tab" data-toggle="pill" href="#pills-control" role="tab" aria-controls="pills-control" aria-selected="false">Услуги контроля</a> {% endcomment %}
        </nav>
        <div class="tab-content" id="pills-tabContent">
        {% for cat in services %}
            {% include 'mainapp/includes/acgh-service-tiles.html' %}
        {% endfor %}
            {% comment %} <div class="tab-pane fade" id="pills-qual" role="tabpanel" aria-labelledby="pills-qual-tab">
                <h4>Оценка квалификации</h4>
            </div>
            <div class="tab-pane fade" id="pills-cert" role="tabpanel" aria-labelledby="pills-cert-tab">
                <h4>Услуги сертификации</h4>
            </div>
            <div class="tab-pane fade" id="pills-control" role="tabpanel" aria-labelledby="pills-control-tab">
                <h4>Услуги контроля</h4>
            </div> {% endcomment %}
        </div>
    </div>
</div>